# ftpcloudfs example configuration file
#

[ftpcloudfs]

# FTP banner (%v version, %f ftp handler version)
# banner = ftp-cloudfs %v using pyftpdlib %f ready.

# Port to bind.
# port = 2021

# Address to bind.
# bind-address = 127.0.0.1

# Authentication URL (required)
# auth-url = (empty)

# DEPRECATED: Number of workers to use (no effect)
# workers = (empty)

# Memcache server(s) for external cache (eg 127.0.0.1:11211)
# Can be a comma-separated list.
# memcache = (empty)

# Maximum number of client connections per IP
# default is 0 (no limit)
# max-cons-per-ip = 0

# Large file support.
# Specify a size in MB to split large files.
# split-large-files = (empty)

# Be verbose on logging.
# verbose = no

# Enable logging to the system logger.
# syslog = no

# Log file location.
# log-file = (empty)

# Pid file location when in daemon mode.
# pid-file = (empty)

# UID to drop privileges when in daemon mode.
# uid = (empty)

# GID to drop priviliges when in daemon mode.
# gid = (empty)

# Masquerade IP address in case your server is behind a firewall or NATed.
# masquerade-firewall = (empty)

# Auth 2.0 (Keystone), requires keystoneclient
# keystone-auth = no

# Region name to be used with Auth 2.0 (optional)
# keystone-region-name = (empty)

# Tenant separator to be used with Auth 2.0 (eg. TENANT.USERNAME)
# keystone-tenant-separator = '.'

# Service type to be used with Auth 2.0.
# keystone-service-type = 'object-store'

# Endpoint type to be used with Auth 2.0.
# keystone-endpoint-type = 'publicURL'

# EOF
