# ftpcloudfs example configuration file
#

[ftpcloudfs]

# FTP banner (%v version, %f ftp handler version)
# banner = Rackspace Cloud Files %v using pyftpdlib %f ready.

# Port to bind.
# port = 2021

# Address to bind.
# bind-address = 127.0.0.1

# Number of workers to use.
# The number of workers depends on the number of available
# cores and the expected load.
# workers = 1

# Auth URL for alternate providers (eg OpenStack)
# auth-url = (empty)

# Connect via Rackspace ServiceNet network.
# service-net = no

# Be verbose on logging.
# verbose = no

# Enable logging to the system logger.
# syslog = no

# Log file location.
# log-file = (empty)

# Pid file location when in daemon mode.
# pid-file = (empty)

# UID to drop priviliges when in daemon mode.
# uid = (empty)

# GID to drop priviliges when in daemon mode.
# gid = (empty)

# Masquerade IP address in case your server is behind a firewall or NATed.
# masquerade-firewall = (empty)

# EOF
