Source: ftp-cloudfs
Section: net
Priority: extra
Maintainer: Christophe Le Guern <c35sys@gmail.com>
Build-Depends: debhelper (>= 9), python-setuptools, python-all (>= 2.6.6-3~)
Standards-Version: 3.9.4
Homepage: https://github.com/chmouel/ftp-cloudfs

Package: ftp-cloudfs
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, lsb-base, adduser, python-cloudfiles, python-pyftpdlib, python-daemon (>= 1.5.5), python-memcache (>= 1.45)
Recommends: python-docutils
Description: FTP interface to Rackspace Cloud Files and OpenStack Object Storage
 FTP-CloudFS is an FTP server acting as a proxy to Rackspace Cloud Files or to
 OpenStack Object Storage (Swift). It allows you to connect via any FTP client
 to do upload/download or create containers. It supports pseudo-hierarchical
 folders/directories as described in the Rackspace Cloud Files API and the
 OpenStack Object Storage API.
