#!/usr/bin/make -f

DEB_PYTHON_SYSTEM=pysupport

include /usr/share/cdbs/1/class/makefile-vars.mk
include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/python-distutils.mk

clean::
	-find . -name \*pyc -exec rm -f {} \;

binary-post-install/ftp-cloudfs::
	-mkdir -p $(CURDIR)/debian/ftp-cloudfs/var/log/ftp-cloudfs
	-chown -R daemon: $(CURDIR)/debian/ftp-cloudfs/var/log/ftp-cloudfs/

